table {
  border: 1px solid grey;
  border-collapse: collapse;
}

td {
  padding: 0.5rem;
}

.missions-div {
  margin: 2.7%;
}

.mission-name {
  width: 11%;
}

.mission-description {
  width: 65%;
  padding: 1% 0.5% 2% 0.5%;
}

.member-button {
  width: 7rem;
}

.member-button button {
  width: 7.5rem;
  height: 1.5rem;
}

table,
td,
th {
  border: 1px solid grey;
}

thead td {
  font-weight: bold;
}

.join-button {
  width: 8.5rem;
  text-align: center;
}

.join-button button {
  height: 2.5rem;
  width: 8rem;
  background-color: inherit;
  border-radius: 4px;
}

tbody tr:nth-child(odd) {
  background-color: gainsboro;
}

.not-member {
  background-color: grey;
  color: white;
}

.active-member {
  background-color: rgb(31, 192, 187);
  color: white;
  border: 1px solid rgb(31, 192, 187);
  border-radius: 4px;
  width: 7.5rem;
  height: 1.5rem;
}

.non-active {
  background-color: grey;
  border: 1px solid grey;
  color: white;
  border-radius: 8px;
  width: 7.5rem;
  height: 1.5rem;
}

.border-red {
  border: 2px solid red;
  background-color: white;
  color: red;
}
