.nav {
  display: flex;
  height: 3.5rem;
  align-items: center;
  margin: 2px auto;
  width: 95vw;
  padding: 5px 10px;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: auto;
  height: 3rem;
  margin-right: 5px;
}

.logo p {
  font-size: 26px;
  font-weight: 500;
}

.ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ul li {
  margin-right: 2rem;
  list-style-type: none;
}

.navigator {
  color: rgb(61, 163, 237);
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

.sep {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .nav {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    justify-content: flex-start;
  }

  .sep {
    display: none;
  }

  .ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .ul li {
    margin: 5px 0;
  }
}
