.container {
  display: flex;
  width: 80vw;
  margin: 10px auto;
}

.imageContainer img {
  height: 12rem;
  width: 15rem;
  margin: 15px;
}

.title {
  font-size: 24px;
}

.desc {
  font-size: 15px;
}

.badge {
  color: white;
  background: rgb(16, 182, 160);
  font-size: 12px;
  padding: 2px 3px;
  border-radius: 5px;
  margin-bottom: 2px;
}

.reserve {
  color: white;
  background: rgb(34, 107, 191);
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
  cursor: pointer;
}

.cancelReservation {
  color: grey;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
}
